<!DOCTYPE html>
<html>
<head>
  <title>WaukeeSurvey</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>
<br>
<br>
<%= link_to "Home", polls_path %>
</body>
</html>
